@charset "utf-8";

// tweeterアイコンサイズ
$icon-size: (
    xsmall : 24px,
    small  : 32px,
    medium : 40px,
    large  : 48px,
    xlarge : 56px
);

// ボタンサイズ
// $button-size: (
//     xsmall : 16px,
//     small  : 20px,
//     medium : 24px,
//     large  : 28px
// );

// カラムアイコン
$column-icon: (
    timeline          : '\f015',
    connect           : '\f1fa',
    retweeted         : '\f079',
    usertimeline      : '\f015',
    favorite          : '\f005',
    search            : '\f002',
    directmessage     : '\f0e0',
    listtimeline      : '\f00b',
    follow            : '\f007',
    follower          : '\f007',
    ownershiplists    : '\f00b',
    subscriptionlists : '\f00b',
    membershiplists   : '\f00b',
    tempsearch        : '\f002'
);
