@charset "UTF-8";
@namespace html url(http://www.w3.org/1999/xhtml);
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.delay-transition:not(.show) {
  transition-delay: .6s; }

.context-menu-icon.context-menu-icon--fa5 i {
  line-height: 1.4; }

/**********
  全体設定
 **********/
html, body {
  width: 100vw;
  height: 100vh; }

body {
  display: flex;
  flex-direction: column;
  user-select: none; }
  body[data-newtweet-pinned="true"] #pinNewTweetC {
    display: none; }
  body[data-newtweet-pinned="true"] #toggleNewTweetC {
    display: none; }
  body[data-newtweet-pinned="false"] #unpinNewTweetC {
    display: none; }
  body[data-linefeed="true"] .tweetText {
    white-space: pre-wrap; }
  body[data-viewthumbnail="false"] .tweetThumbnail {
    display: none; }
  body[data-viewsource="false"] .tweetSource {
    display: none; }
  body[data-circle-icon="true"] .menuProfileItem > .menuImage,
  body[data-circle-icon="true"] .notifUserImage,
  body[data-circle-icon="true"] .tweetUserImage,
  body[data-circle-icon="true"] .tweetRetweeterImage,
  body[data-circle-icon="true"] #profileUserImage {
    border-radius: 50%; }
  body[data-circle-icon="false"] .menuProfileItem > .menuImage,
  body[data-circle-icon="false"] .notifUserImage,
  body[data-circle-icon="false"] .tweetUserImage,
  body[data-circle-icon="false"] .tweetRetweeterImage,
  body[data-circle-icon="false"] #profileUserImage {
    border-radius: 5%; }
  body[data-show-icon="false"] .tweetUserImage,
  body[data-show-icon="false"] .tweetRetweeterImage {
    display: none; }
  body[data-show-icon="false"] .tweetContentLeft {
    width: 100%; }
  body[data-show-icon="false"] .tweetStatus {
    margin-top: 0; }

* {
  word-break: break-all;
  overflow-wrap: anywhere; }

.text-link {
  cursor: pointer; }
  .text-link:hover {
    text-decoration: underline; }

.btn.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%; }

[data-icon-size="xsmall"] .tweetUserImage {
  width: 24px;
  height: 24px; }
[data-icon-size="small"] .tweetUserImage {
  width: 32px;
  height: 32px; }
[data-icon-size="medium"] .tweetUserImage {
  width: 40px;
  height: 40px; }
[data-icon-size="large"] .tweetUserImage {
  width: 48px;
  height: 48px; }
[data-icon-size="xlarge"] .tweetUserImage {
  width: 56px;
  height: 56px; }

[data-icon-size="xsmall"] .tweetStatus {
  width: 24px; }
[data-icon-size="small"] .tweetStatus {
  width: 32px; }
[data-icon-size="medium"] .tweetStatus {
  width: 40px; }
[data-icon-size="large"] .tweetStatus {
  width: 48px; }
[data-icon-size="xlarge"] .tweetStatus {
  width: 56px; }

/**********
  コンテナ
 **********/
/*******************
  #topMenuContainer
********************/
#mainmenuContainer {
  z-index: 1021;
  min-width: 40vw;
  max-width: calc( 100vw - 2rem );
  max-height: 80vh; }
  #mainmenuContainer .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0; }
  #mainmenuContainer img.menuImage {
    width: 1.25rem;
    height: 1.25rem; }

#notifContainer {
  z-index: 1021;
  min-width: 50vw;
  max-width: calc( 100vw - 4rem );
  max-height: 80vh; }
  #notifContainer .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0; }
  #notifContainer.dropdown-menu.show {
    display: flex;
    flex-direction: column; }
  #notifContainer .notifItem *:not(.btn) {
    pointer-events: none; }
  #notifContainer .notifUserImage {
    width: 24px;
    height: 24px; }
  #notifContainer .notifUserName {
    white-space: normal; }
  #notifContainer .notifTitle, #notifContainer .notifContent, #notifContainer .notifUrl {
    white-space: pre-wrap; }
  #notifList {
    overflow-y: scroll; }

#unpinNewTweetC > i {
  transform: rotate(45deg); }
#replyUsersSelection {
  order: 2; }
  #replyUsersSelection:empty {
    display: none; }
  #replyUsersSelection:empty + * {
    display: none; }
  #replyUsersSelection + span {
    display: flex;
    flex-shrink: 0;
    align-items: center; }
  #replyUsersSelection > .replyUser:nth-of-type(n+2) {
    cursor: pointer; }
#pictureThumbnails {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  overflow-x: auto; }
  #pictureThumbnails:empty {
    display: none; }
  #pictureThumbnails:not(:empty) + #newTweet {
    padding-bottom: 52px; }
  #pictureThumbnails > div {
    display: flex;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    margin: 2px;
    background-size: cover;
    background-position: center; }
    #pictureThumbnails > div > video {
      width: 100%;
      height: 100%; }
    #pictureThumbnails > div:hover::after {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f00d'; }
  #pictureThumbnails[data-mode] > div::before {
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 0px white, -2px 2px 0px white, -2px -2px 0px white, 2px -2px 0px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  #pictureThumbnails[data-mode="tweet_image"] > div::before {
    content: '\f1c5';
    font-weight: 400; }
  #pictureThumbnails[data-mode="dm_image"] > div::before {
    content: '\f1c5';
    font-weight: 400; }
  #pictureThumbnails[data-mode="tweet_video"] > div::before {
    content: '\f1c8';
    font-weight: 400; }
  #pictureThumbnails[data-mode="dm_video"] > div::before {
    content: '\f1c8';
    font-weight: 400; }
  #pictureThumbnails[data-mode="tweet_gif"] > div::before {
    content: '\f87c'; }
  #pictureThumbnails[data-mode="dm_gif"] > div::before {
    content: '\f87c'; }
#profileOwnImage {
  width: 2.5rem;
  background-size: cover;
  background-position: center; }
#refTweetBox {
  width: 100%; }

textarea#newTweet {
  resize: none; }

/**********************
  // #topMenuContainer
***********************/
/******************
  #columnContainer
*******************/
#columnContainer {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  user-select: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; }
  [data-window-type="main"] #columnContainer {
    margin-bottom: .5rem; }
  #columnContainer .columnTab.card-header {
    flex-shrink: 0;
    justify-content: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in; }
    #columnContainer .columnTab.card-header.hover {
      background-size: 100% 100%; }
    #columnContainer .columnTab.card-header::before {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: .2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
      .column[data-column-type="timeline"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="connect"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="retweeted"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="usertimeline"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="favorite"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="search"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="directmessage"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="listtimeline"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="follow"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="follower"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="ownershiplists"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="subscriptionlists"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="membershiplists"] > .columnTab::before {
        content: ""; }
      .column[data-column-type="tempsearch"] > .columnTab::before {
        content: ""; }
  #columnContainer .column {
    width: 100vw;
    display: flex;
    flex-shrink: 0;
    scroll-snap-align: start;
    transition: width .2s;
    outline: 0; }
    #columnContainer .column[data-veil="true"] .tweetBox {
      opacity: 0 !important; }
    #columnContainer .column[data-veil="true"]:hover .tweetBox {
      opacity: 1 !important; }
  #columnContainer .timelineBox {
    overflow-y: scroll; }
    #columnContainer .timelineBox::before {
      display: block;
      width: 100%;
      height: 10px;
      margin-top: -10px;
      position: sticky;
      top: 0;
      content: '';
      z-index: 1;
      pointer-events: none; }
  #columnContainer .clearAllRepliesButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 6rem;
    bottom: 1rem;
    z-index: 1022;
    opacity: .5;
    transition: opacity .4s; }
    #columnContainer .clearAllRepliesButton:hover, #columnContainer .clearAllRepliesButton:focus {
      opacity: 1;
      transition: opacity .4s; }
  #columnContainer .progressBarColumn {
    width: 100%;
    height: .5rem;
    position: absolute;
    top: 0;
    z-index: 1; }

.column .columnMenuButton {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  z-index: 1021;
  opacity: .5;
  transition: opacity .4s; }
  .column .columnMenuButton:hover, .column .columnMenuButton:focus-within {
    opacity: 1;
    transition: opacity .4s; }
    .column .columnMenuButton:hover > .dropdown-menu, .column .columnMenuButton:focus-within > .dropdown-menu {
      pointer-events: auto;
      opacity: 1;
      transition: opacity .4s; }
  .column .columnMenuButton > .dropdown-menu {
    min-width: 1rem;
    display: block;
    user-select: none;
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    top: unset;
    left: unset;
    z-index: 1020;
    opacity: 0;
    transition: opacity .4s; }
  .column .columnMenuButton > .dropdown-menu:hover {
    pointer-events: auto;
    opacity: 1; }

.column .newListButton, .column .newDmButton, .column .addColumnButton {
  display: none; }

.column[data-column-type="directmessage"] .newDmButton {
  display: block; }

.column[data-column-type="ownershiplists"] .newListButton {
  display: block; }

[data-window-type="search"] .addColumnButton {
  display: block; }

.tweetBox.card {
  border-radius: 0;
  border-width: 0;
  outline: 0; }
  .tweetBox.card.tweetMoreBox.card {
    width: -moz-available;
    text-align: center;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .tweetBox.card.tweetMoreBox.card .tweetContent {
      flex-grow: 0; }
    .column[data-more=""] .tweetBox.card.tweetMoreBox.card .spinner-grow {
      display: none; }
    .column[data-more="true"] .tweetBox.card.tweetMoreBox.card .spinner-grow {
      display: inline-block; }

/*********************
  // #columnContainer
**********************/
/***********
  .tweetBox
************/
.tweetMainContent {
  flex-wrap: nowrap; }

.tweetContent {
  line-height: 1.3; }
  .tweetContent[data-forme="true"] {
    background-size: 40px 40px; }

.tweetStatus {
  display: flex;
  flex-wrap: wrap; }

.tweetStatus > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin: .25rem 0; }
  .tweetStatus > i.tweetStatusPlace {
    cursor: pointer; }
    .tweetStatus > i.tweetStatusPlace[data-mapurl=""] {
      display: none; }

.tweetUserName {
  font-weight: bold;
  line-height: 1.4;
  text-decoration: underline; }
  .tweetUserName[data-screenname=""] {
    display: none; }
  .tweetUserName::before {
    content: attr(data-username) " (" attr(data-screenname) ") "; }
    body[data-screenname-first="true"] .tweetUserName::before {
      content: attr(data-screenname) " (" attr(data-username) ") "; }
  .tweetContent[data-protected="true"] > .tweetMainContent .tweetUserName::after {
    width: 1.2rem;
    margin-left: .2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f023'; }
  .tweetContent[data-verified="true"] > .tweetMainContent .tweetUserName::after {
    width: 1.2rem;
    margin-left: .2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f058'; }

.tweetUserReplyto:empty {
  display: none; }
.tweetUserReplyto::before {
  content: "➔"; }

.tweetUserRecipient[data-screenname=""] {
  display: none; }
.tweetUserRecipient::before {
  content: "➔" attr(data-username) " (" attr(data-screenname) ") "; }
  body[data-screenname-first="true"] .tweetUserRecipient::before {
    content: "➔" attr(data-screenname) " (" attr(data-username) ") "; }

.listName {
  font-weight: bold;
  line-height: 1.4; }
  .listName:empty {
    display: none; }
  .tweetContent[data-protected="true"] > .tweetMainContent .listName::after {
    width: 1.2rem;
    margin-left: .2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f023'; }

.listOwnerName {
  line-height: 1.4;
  text-decoration: underline; }
  .listOwnerName[data-screenname=""] {
    display: none; }
  .listOwnerName::before {
    content: attr(data-username) " (" attr(data-screenname) ") "; }
    body[data-screenname-first="true"] .listOwnerName::before {
      content: attr(data-screenname) " (" attr(data-username) ") "; }

.tweetRetweeterImage {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer; }

.tweetRetweeter {
  display: flex;
  align-items: center; }
  .tweetRetweeter > .tweetRetweeterImage {
    flex-shrink: 0; }
    .tweetRetweeter > .tweetRetweeterImage[src=""] {
      display: none; }
  .tweetRetweeter > .tweetRetweeterName {
    flex-grow: 1; }
    .tweetRetweeter > .tweetRetweeterName::before {
      content: attr(data-username) " (" attr(data-screenname) ") "; }
      body[data-screenname-first="true"] .tweetRetweeter > .tweetRetweeterName::before {
        content: attr(data-screenname) " (" attr(data-username) ") "; }
    .tweetRetweeter > .tweetRetweeterName[data-screenname=""] {
      display: none; }

.tweetRetweeterList {
  display: flex;
  flex-wrap: wrap; }
  .tweetRetweeterList:empty {
    display: none; }

.tweetThumbnail:empty {
  display: none; }

.tweetThumbnailImage.img-thumbnail {
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0.05rem;
  cursor: pointer;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1rem; }
  .tweetThumbnailImage.img-thumbnail:not(:hover) {
    transition: object-position .4s; }

.inlineTweetBox.card {
  background-color: transparent;
  border-style: solid;
  border-radius: 1rem; }
  .inlineTweetBox.card:empty {
    display: none; }
  .inlineTweetBox.card > .tweetBox.card {
    border-radius: 1rem; }

.replyTweetBox[data-open="false"] {
  display: none; }

.tweetMenuButtonBox > .tweetMenuButton {
  display: none;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: center;
  align-items: center; }
  .tweetMenuButtonBox > .tweetMenuButton > * {
    opacity: 0.2; }
  .tweetMenuButtonBox > .tweetMenuButton > .count {
    font-size: 0.8rem; }
.tweetMenuButtonBox:hover > .tweetMenuButton > * {
  opacity: 1; }
.column[data-column-type="follow"] .tweetMenuButtonBox, .column[data-column-type="follower"] .tweetMenuButtonBox, .column[data-column-type="ownershiplists"] .tweetMenuButtonBox, .column[data-column-type="subscriptionlists"] .tweetMenuButtonBox, .column[data-column-type="membershiplists"] .tweetMenuButtonBox {
  display: none; }
.tweetContent[data-protected="true"] > .tweetMenuButtonBox > .tweetMenuButton[data-func="retweet"] {
  visibility: hidden; }
.tweetContent[data-retweeted="true"] > .tweetMenuButtonBox > .tweetMenuButton[data-func="retweet"] > .fas {
  opacity: 1; }
.tweetContent[data-favorited=""] > .tweetMenuButtonBox > .tweetMenuButton[data-func="favorite"] > .fas {
  display: none; }
.tweetContent[data-favorited="true"] > .tweetMenuButtonBox > .tweetMenuButton[data-func="favorite"] > .fas {
  color: deeppink;
  opacity: 1; }
.tweetContent[data-favorited="true"] > .tweetMenuButtonBox > .tweetMenuButton[data-func="favorite"] > .far {
  display: none; }
.tweetContent[data-inreply=""] > .tweetMenuButtonBox > .tweetMenuButton[data-func="showreply"] {
  visibility: hidden; }
[data-column-type="directmessage"] .tweetMenuButtonBox > .tweetMenuButton:not([data-func="replydm"]) {
  display: none; }
[data-column-type="directmessage"] .tweetMenuButtonBox > .tweetMenuButton[data-func="replydm"] {
  display: flex; }

/**************
  // .tweetBox
***************/
/**************
  他のコンテナ
***************/
#progressContainer {
  width: 100vw;
  height: .5rem;
  position: absolute;
  bottom: 0;
  z-index: 1; }

#columnSpyContainer {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1020; }
  #columnSpyContainer.show.bg-light {
    width: 80%;
    padding: 0 1rem;
    border-radius: 0 0 1rem 1rem;
    transform: translate(-50%);
    pointer-events: auto; }
  #columnSpyContainer.no-event {
    user-select: none;
    pointer-events: none; }
  #columnSpyContainer .columnSpy {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: .8;
    font-weight: 900;
    cursor: pointer; }
    #columnSpyContainer .columnSpy:not(.active) {
      width: 80%;
      font-size: 90%; }

#messageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1050;
  pointer-events: none; }

#loading, #grayout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1025; }

#progressBarOther {
  width: 100vw;
  height: .5rem;
  position: absolute;
  top: 0;
  z-index: 1027; }

#screennameCheck, #keywordCheck {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  align-self: center;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
  #screennameCheck[data-status="unchecked"]::before, #keywordCheck[data-status="unchecked"]::before {
    content: '\f128'; }
  #screennameCheck[data-status="checkok"]::before, #keywordCheck[data-status="checkok"]::before {
    color: limegreen;
    content: '\f00c'; }
  #screennameCheck[data-status="checkng"]::before, #keywordCheck[data-status="checkng"]::before {
    color: red;
    content: '\f00d'; }
  #screennameCheck[data-status="loading"], #keywordCheck[data-status="loading"] {
    animation: fa-spin 1s steps(8) infinite; }
    #screennameCheck[data-status="loading"]::before, #keywordCheck[data-status="loading"]::before {
      content: '\f110'; }

/*****************
  // 他のコンテナ
******************/
/****************
  Profile Window
*****************/
[data-window-type="profile"] #topMenuContainer {
  z-index: 1026; }
  [data-window-type="profile"] #topMenuContainer .input-group {
    width: auto;
    flex-grow: 1; }
[data-window-type="profile"] #profileContainer {
  position: relative;
  display: flex;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white; }
  [data-window-type="profile"] #profileContainer::before {
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    position: absolute;
    filter: blur(2px) brightness(50%); }
  [data-window-type="profile"] #profileContainer #profileUserImage {
    width: 96px;
    height: 96px;
    object-fit: cover;
    cursor: pointer; }
  [data-window-type="profile"] #profileContainer #profileStatus {
    display: flex; }
  [data-window-type="profile"] #profileContainer #profileStatusProtected, [data-window-type="profile"] #profileContainer #profileStatusVerified {
    display: flex;
    justify-contenc: center;
    align-items: center; }
  [data-window-type="profile"] #profileContainer[data-protected="false"] #profileStatusProtected {
    display: none; }
  [data-window-type="profile"] #profileContainer[data-verified="false"] #profileStatusVerified {
    display: none; }
  [data-window-type="profile"] #profileContainer #profileScreenname {
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 1.2;
    vertical-align: sub; }
  [data-window-type="profile"] #profileContainer #profileFollowed {
    font-size: 1rem; }
  [data-window-type="profile"] #profileContainer #profileUsername {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2; }
  [data-window-type="profile"] #profileContainer #profileDescription {
    white-space: pre-wrap; }
  [data-window-type="profile"] #profileContainer #profileLocation:empty {
    display: none; }
  [data-window-type="profile"] #profileContainer #profileLocation::before {
    width: 1.2rem;
    margin-right: .2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f3c5'; }
  [data-window-type="profile"] #profileContainer #profileUrl:empty {
    display: none; }
  [data-window-type="profile"] #profileContainer #profileUrl::before {
    width: 1.2rem;
    margin-right: .2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c1'; }
  [data-window-type="profile"] #profileContainer #restrictionButtonList > button, [data-window-type="profile"] #profileContainer #relationButtonList > button {
    padding: .3rem;
    font-weight: bold;
    line-height: 1.2;
    color: white;
    opacity: .6; }
    [data-window-type="profile"] #profileContainer #restrictionButtonList > button:hover, [data-window-type="profile"] #profileContainer #restrictionButtonList > button:focus, [data-window-type="profile"] #profileContainer #relationButtonList > button:hover, [data-window-type="profile"] #profileContainer #relationButtonList > button:focus {
      opacity: 1; }
  [data-window-type="profile"] #profileContainer[data-profile-own="true"] #relationButtonList {
    display: none; }
  [data-window-type="profile"] #profileContainer[data-profile-own="true"] #profileButton8 span:nth-of-type(2) {
    display: none; }
  [data-window-type="profile"] #profileContainer[data-profile-own="false"] #restrictionButtonList {
    display: none; }
  [data-window-type="profile"] #profileContainer[data-profile-own="false"] #profileButton8 span:nth-of-type(1) {
    display: none; }
  [data-window-type="profile"] #profileContainer #relationButtonList > button > span {
    display: none; }
  [data-window-type="profile"] #profileContainer[data-following="false"][data-followrequesting="false"] #relationButton1 > span:nth-of-type(1), [data-window-type="profile"] #profileContainer[data-following="false"][data-followrequesting="true"] #relationButton1 > span:nth-of-type(3), [data-window-type="profile"] #profileContainer[data-following="true"] #relationButton1 > span:nth-of-type(2), [data-window-type="profile"] #profileContainer[data-mute="false"] #relationButton2 > span:nth-of-type(1), [data-window-type="profile"] #profileContainer[data-mute="true"] #relationButton2 > span:nth-of-type(2), [data-window-type="profile"] #profileContainer[data-block="false"] #relationButton3 > span:nth-of-type(1), [data-window-type="profile"] #profileContainer[data-block="true"] #relationButton3 > span:nth-of-type(2), [data-window-type="profile"] #profileContainer[data-noretweet="false"] #relationButton4 > span:nth-of-type(1), [data-window-type="profile"] #profileContainer[data-noretweet="true"] #relationButton4 > span:nth-of-type(2) {
    display: inline; }
  [data-window-type="profile"] #profileContainer[data-followed="false"] #profileFollowed {
    display: none; }
  [data-window-type="profile"] #profileContainer[data-following="false"] #relationButton1, [data-window-type="profile"] #profileContainer[data-mute="false"] #relationButton2, [data-window-type="profile"] #profileContainer[data-block="false"] #relationButton3, [data-window-type="profile"] #profileContainer[data-noretweet="false"] #relationButton4 {
    background-color: white;
    color: black; }
  [data-window-type="profile"] #profileContainer #profileButtonList button {
    padding: .3rem;
    font-weight: bold;
    line-height: 1.2;
    color: white;
    opacity: .6;
    border-width: 0 0 3px 0; }
    [data-window-type="profile"] #profileContainer #profileButtonList button:hover, [data-window-type="profile"] #profileContainer #profileButtonList button:focus {
      opacity: 1; }
[data-window-type="profile"][data-active-column="0"] #profileButtonList #profileButton1 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="0"] #columnContainer > .column:nth-of-type(1) {
  display: flex; }
[data-window-type="profile"][data-active-column="1"] #profileButtonList #profileButton2 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="1"] #columnContainer > .column:nth-of-type(2) {
  display: flex; }
[data-window-type="profile"][data-active-column="2"] #profileButtonList #profileButton3 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="2"] #columnContainer > .column:nth-of-type(3) {
  display: flex; }
[data-window-type="profile"][data-active-column="3"] #profileButtonList #profileButton4 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="3"] #columnContainer > .column:nth-of-type(4) {
  display: flex; }
[data-window-type="profile"][data-active-column="4"] #profileButtonList #profileButton5 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="4"] #columnContainer > .column:nth-of-type(5) {
  display: flex; }
[data-window-type="profile"][data-active-column="5"] #profileButtonList #profileButton6 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="5"] #columnContainer > .column:nth-of-type(6) {
  display: flex; }
[data-window-type="profile"][data-active-column="6"] #profileButtonList #profileButton7 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="6"] #columnContainer > .column:nth-of-type(7) {
  display: flex; }
[data-window-type="profile"][data-active-column="7"] #profileButtonList #profileButton8 {
  opacity: 1; }
[data-window-type="profile"][data-active-column="7"] #columnContainer > .column:nth-of-type(8) {
  display: flex; }
[data-window-type="profile"] #columnContainer {
  overflow-x: hidden; }
  [data-window-type="profile"] #columnContainer > .column {
    display: none; }

/***************
  Search Window
****************/
[data-window-type="search"] #grayout {
  padding: 2em;
  white-space: pre-wrap;
  justify-content: start;
  align-items: end; }
[data-window-type="search"] #topMenuContainer {
  z-index: 1026; }
  [data-window-type="search"] #topMenuContainer .input-group {
    width: auto;
    flex-grow: 1; }
[data-window-type="search"] #columnContainer {
  overflow-x: hidden; }

/****************
  Columns Window
*****************/
[data-window-type="columns"] #columnListContainerWrapper {
  overflow: auto;
  flex-grow: 1; }
[data-window-type="columns"] #columnListContainer {
  table-layout: fixed; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(1), [data-window-type="columns"] #columnListContainer td:nth-of-type(1) {
    width: 24%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(2), [data-window-type="columns"] #columnListContainer td:nth-of-type(2) {
    width: 15%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(3), [data-window-type="columns"] #columnListContainer td:nth-of-type(3) {
    width: 15%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(4), [data-window-type="columns"] #columnListContainer td:nth-of-type(4) {
    width: 4%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(5), [data-window-type="columns"] #columnListContainer td:nth-of-type(5) {
    width: 4%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(6), [data-window-type="columns"] #columnListContainer td:nth-of-type(6) {
    width: 4%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(7), [data-window-type="columns"] #columnListContainer td:nth-of-type(7) {
    width: 4%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(8), [data-window-type="columns"] #columnListContainer td:nth-of-type(8) {
    width: 20%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(9), [data-window-type="columns"] #columnListContainer td:nth-of-type(9) {
    width: 10%; }
  [data-window-type="columns"] #columnListContainer th:nth-of-type(-n+3)::before, [data-window-type="columns"] #columnListContainer th:nth-of-type(8)::before {
    display: block;
    content: attr(title);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  [data-window-type="columns"] #columnListContainer tbody > tr {
    cursor: move; }
  [data-window-type="columns"] #columnListContainer td {
    vertical-align: middle; }
  [data-window-type="columns"] #columnListContainer td:nth-of-type(9) {
    padding: 0;
    text-align: center; }
  [data-window-type="columns"] #columnListContainer td::before {
    display: block;
    content: attr(title);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
[data-window-type="columns"] #addButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem; }
[data-window-type="columns"] textarea#parameter {
  resize: none; }

/****************
  ts_mute Window
*****************/
[data-window-type="ts_mutes"] .tab-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  [data-window-type="ts_mutes"] .tab-content .tab-pane {
    flex-grow: 1; }
[data-window-type="ts_mutes"] #muteKeywordsContainer {
  table-layout: fixed; }
  [data-window-type="ts_mutes"] #muteKeywordsContainer th:nth-of-type(1) {
    width: 45%; }
  [data-window-type="ts_mutes"] #muteKeywordsContainer th:nth-of-type(2) {
    width: 20%; }
  [data-window-type="ts_mutes"] #muteKeywordsContainer th:nth-of-type(3) {
    width: 25%; }
  [data-window-type="ts_mutes"] #muteKeywordsContainer th:nth-of-type(4) {
    width: 10%; }
  [data-window-type="ts_mutes"] #muteKeywordsContainer td {
    vertical-align: middle; }
  [data-window-type="ts_mutes"] #muteKeywordsContainer td:nth-of-type(4) {
    padding: 0;
    text-align: center; }
[data-window-type="ts_mutes"] #muteUsersContainer {
  table-layout: fixed; }
  [data-window-type="ts_mutes"] #muteUsersContainer th:nth-of-type(1) {
    width: 50%; }
  [data-window-type="ts_mutes"] #muteUsersContainer th:nth-of-type(2) {
    width: 40%; }
  [data-window-type="ts_mutes"] #muteUsersContainer th:nth-of-type(3) {
    width: 10%; }
  [data-window-type="ts_mutes"] #muteUsersContainer td {
    vertical-align: middle; }
  [data-window-type="ts_mutes"] #muteUsersContainer td:nth-of-type(3) {
    padding: 0;
    text-align: center; }
[data-window-type="ts_mutes"] td::before {
  display: block;
  content: attr(title);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
[data-window-type="ts_mutes"] #addButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem; }

/**************
  Newdm Window
***************/
[data-window-type="newdm"] #newdmContainer {
  flex-grow: 1;
  margin-bottom: .5rem; }
  [data-window-type="newdm"] #newdmContainer > .card-body {
    display: flex;
    flex-direction: column; }
  [data-window-type="newdm"] #newdmContainer > .card-body > .row:nth-of-type(1) {
    flex-grow: 1; }

/*************
  Text Window
**************/
[data-window-type="text"] #textContainer {
  flex-grow: 1; }
  [data-window-type="text"] #textContainer > .card-body {
    display: flex;
    flex-direction: column; }
  [data-window-type="text"] #textContainer > .card-body > .row:nth-of-type(1) {
    flex-grow: 1; }
  [data-window-type="text"] #textContainer #tweetText {
    resize: none;
    flex-grow: 1; }
[data-window-type="text"] textarea#tweetText {
  resize: none; }

/*************
  Mute Window
**************/
[data-window-type="mute"] #columnContainer {
  overflow-x: auto; }

/**************
  Block Window
***************/
[data-window-type="block"] #columnContainer {
  overflow-x: auto; }

/******************
  Noretweet Window
*******************/
[data-window-type="noretweet"] #columnContainer {
  overflow-x: auto; }

/*******************
  Listmember Window
********************/
[data-window-type="listmember"] #columnContainer {
  overflow-x: auto; }

/**************
  Photo Window
***************/
[data-window-type="photo"] #photoContainer {
  flex-grow: 1;
  overflow: hidden; }
  [data-window-type="photo"] #photoContainer iframe, [data-window-type="photo"] #photoContainer video {
    width: 100%;
    height: 100%;
    background-color: black; }
[data-window-type="photo"] video.photo {
  transition: transform .2s;
  cursor: grab; }
[data-window-type="photo"] video.photo.dragging {
  transition: none;
  cursor: grabbing; }
[data-window-type="photo"] #zoomoutPhoto,
[data-window-type="photo"] #zoominPhoto,
[data-window-type="photo"] #rotatePhoto,
[data-window-type="photo"] #resetPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 6rem;
  font-size: 1.2rem;
  opacity: .3; }
  [data-window-type="photo"] #zoomoutPhoto:hover, [data-window-type="photo"] #zoomoutPhoto:focus,
  [data-window-type="photo"] #zoominPhoto:hover,
  [data-window-type="photo"] #zoominPhoto:focus,
  [data-window-type="photo"] #rotatePhoto:hover,
  [data-window-type="photo"] #rotatePhoto:focus,
  [data-window-type="photo"] #resetPhoto:hover,
  [data-window-type="photo"] #resetPhoto:focus {
    opacity: .8; }
  [data-window-type="photo"] #zoomoutPhoto.disabled, [data-window-type="photo"] #zoomoutPhoto.disabled:hover, [data-window-type="photo"] #zoomoutPhoto.disabled:focus,
  [data-window-type="photo"] #zoominPhoto.disabled,
  [data-window-type="photo"] #zoominPhoto.disabled:hover,
  [data-window-type="photo"] #zoominPhoto.disabled:focus,
  [data-window-type="photo"] #rotatePhoto.disabled,
  [data-window-type="photo"] #rotatePhoto.disabled:hover,
  [data-window-type="photo"] #rotatePhoto.disabled:focus,
  [data-window-type="photo"] #resetPhoto.disabled,
  [data-window-type="photo"] #resetPhoto.disabled:hover,
  [data-window-type="photo"] #resetPhoto.disabled:focus {
    visibility: hidden; }
[data-window-type="photo"] #zoomoutPhoto {
  left: calc( 50vw - 5rem ); }
[data-window-type="photo"] #zoominPhoto {
  left: calc( 50vw - 3rem ); }
[data-window-type="photo"] #rotatePhoto {
  left: calc( 50vw - 1rem ); }
[data-window-type="photo"] #resetPhoto {
  left: calc( 50vw + 2rem ); }
[data-window-type="photo"] #fullscreenPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  opacity: .5; }
[data-window-type="photo"] #prevPhoto,
[data-window-type="photo"] #nextPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: calc( 50vh - 3rem );
  border-radius: 50%;
  font-size: 3rem;
  opacity: .3; }
  [data-window-type="photo"] #prevPhoto:hover, [data-window-type="photo"] #prevPhoto:focus,
  [data-window-type="photo"] #nextPhoto:hover,
  [data-window-type="photo"] #nextPhoto:focus {
    opacity: .8; }
  [data-window-type="photo"] #prevPhoto.disabled, [data-window-type="photo"] #prevPhoto.disabled:hover, [data-window-type="photo"] #prevPhoto.disabled:focus,
  [data-window-type="photo"] #nextPhoto.disabled,
  [data-window-type="photo"] #nextPhoto.disabled:hover,
  [data-window-type="photo"] #nextPhoto.disabled:focus {
    visibility: hidden; }
[data-window-type="photo"] #prevPhoto {
  left: 1rem; }
[data-window-type="photo"] #nextPhoto {
  right: 1rem; }

/************
  API Window
*************/
[data-window-type="api"] #apiContainerWrapper {
  overflow: auto;
  flex-grow: 1; }
[data-window-type="api"] #apiContainer {
  table-layout: fixed; }
  [data-window-type="api"] #apiContainer th:nth-of-type(1) {
    width: 40%; }
  [data-window-type="api"] #apiContainer th:nth-of-type(2) {
    width: 10%; }
  [data-window-type="api"] #apiContainer th:nth-of-type(3) {
    width: 10%; }
  [data-window-type="api"] #apiContainer th:nth-of-type(4) {
    width: 15%; }
  [data-window-type="api"] #apiContainer th:nth-of-type(5) {
    width: 25%; }
  [data-window-type="api"] #apiContainer th::before, [data-window-type="api"] #apiContainer td[title]::before {
    display: block;
    content: attr(title);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

/*# sourceMappingURL=common.css.map */
